<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Menu - <%= category %></title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <h1><%= category %> Menu </h1>
    <ul>
        <% menuItems.forEach((menu) => { %>
            <li>Name: <%= menu.name %> Price:$ <%= menu.price %> Rating: <%= menu.rating %> Details: <%= menu.details %></li>
        <% }) %>
      </ul>
</body>
</html>